<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./application/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true"
         syntaxCheck="true">
    <testsuite name="zfhrtool Test Suite">
        <directory>./</directory>
    </testsuite>
    <logging>
           <!-- логирование и создание отчета -->
           <log type="coverage-html" target="./report" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
    </logging>

</phpunit>