@charset "utf-8";

.menu-h-d, .content {margin:0 auto;width:1000px;}
.menu-h-d > ul > li.active, .menu-h-d > ul > li:hover, .menu-h-d > ul > a:hover {background-color:#fff !important;}

/* login form 
#email-element{margin-top:-15px;}
#password-element {margin-top:-15px;}
#signin-element {margin-top:-35px;}
#nickname-element {margin-top:-20px;}
#submit-element {margin-top:-35px;}
#signup-element {margin-top:-20px;}
*/
.z_form, .z_form .zend_form {width:100% !important;}
.z_form dt {width:100% !important; margin:0 20px !important;}
.z_form dd {padding:0 !important;margin-left:0 !important; }
.z_form dd select {width:145px !important;} 
.z_form dd textarea {margin:4px 0; background-color:#f7f7f7;border:1px solid #eee;}

.zend_form {width:400px}
.zend_form dt {width:170px; margin-top:5px;}
.zend_form dd {margin-top:-15px;margin-left:85px;}
.zend_form dd select,#widget_Birth {width:145px;} 
#answerTable, #addAnswerButton {margin-left:140px;}

/*	Tables
------------------------------ */
.tablesorter{border:1px solid #b5b5b5 !important;}
.tablesorter > thead > tr > th{background:#e3e3e3 url(images/th-bg.png) repeat-x !important;border-top:1px solid #e3e3e3 !important;border-bottom:1px solid #b5b5b5 !important;border-right:1px solid #b5b5b5 !important;border-left:none !important; text-align:center;}
.tablesorter > thead > tr > th, .tablesorter > thead > tr > th *{color:#000 !important;}

.tablesorter > tbody > tr.dark-row{background:#f7f7f7 !important;}

.tablesorter > tbody > tr > td{border-top:1px solid #e3e3e3 !important;border-bottom:1px solid #b5b5b5 !important;border-right:1px solid #b5b5b5 !important;border-left:none !important;}
.tablesorter > tbody > tr > td.name{padding:3px 10px;text-align:left;font-weight:700;color:#333;}
.tablesorter > tr > td.name *{font-weight:700;color:#333;}
.tablesorter > tbody > tr > td.selected{font-weight:700;}
.tablesorter > tbody > tr.deposit-none > td{font-weight:700;color:#e95d0f;}
.tablesorter > tr.deposit-small > td{color:#f1aa00;}
.tablesorter > tbody > tr > td span, .tablesorter > thead > th span{color:#e95d0f;}
.tablesorter > tbody > tr > td span.sf{font-size:9px;color:inherit;}
.tablesorter > thead > th cite{color:#b5b5b5;}
.tablesorter > tbody > tr > td strong{color:#000;}

.tablesorter > tbody > tr:hover > td{background:#eee;}
.tablesorter > tbody > tr > td:hover{background:#ccc;}

.tablesorter > tbody > tr > td:first-child{border-left:1px solid #e3e3e3;}
.tablesorter > tbody > tr:last-child > td{border-bottom:1px solid #e3e3e3;}

.tablesorter > tbody > tr.tfoot > td{background: #E3E3E3 url(images/tfoot-bg.png) repeat-x scroll 0 0;}

.condition {max-height:130px;max-width:300px;overflow-x:auto;overflow-y:auto;}
.table td{padding:5px 100px 5px 10px; border:1px solid #e3e3e3;}

h1 {padding-right:150px;}

.description {background-color:#F7F7F7;border:1px dotted #EEEEEE;color:#000000;font-size:14px;font-weight:700;padding:5px;margin-top:10px;}
